// -----------------------------------------------
// WordPress galleries
//
// Style support for WordPress built-in galleries.
// -----------------------------------------------

.gallery {
  clear: both;
  overflow: hidden;
  text-align: center;

  &.gallery-columns-1 {
    .gallery-item {
      //// @include stack();
    }
  }

  &.gallery-columns-2 {
    .gallery-item {
      @include grid-column(6);

      @media (max-width: $container-mobile) {
        // @include stack();
        text-align: center;
      }
    }
  }

  &.gallery-columns-3 {
    .gallery-item {
      @include grid-column(4);

      @media (max-width: $container-tablet) {
        @include grid-column(4);
      }

      @media (max-width: $container-mobile) {
      // @include stack();
        text-align: center;
      }
    }
  }

  &.gallery-columns-4 {
    .gallery-item {
      @include grid-column(3);

      @media (max-width: $container-tablet) {
        @include grid-column(4);
      }

      @media (max-width: $container-mobile) {
        // @include stack();
        text-align: center;
      }
    }
  }

  &.gallery-columns-6 {
    .gallery-item {
      @include grid-column(2);

      @media (max-width: $container-tablet) {
        @include grid-column(4);
      }

      @media (max-width: $container-mobile) {
        // @include stack();
        text-align: center;
      }
    }
  }

  .gallery-item {
    // Default columns
    @include grid-column(3);

    @media (max-width: $container-tablet) {
      @include grid-column(4);
    }

    @media (max-width: $container-mobile) {
      // @include stack();
      text-align: center;
    }

    .gallery-caption {
      font-size: .85em;
      margin-top: .7em;
      font-style: italic;
      display: block;
      font-family: $font-headings;
      line-height: 1.2;
      text-align: center;
      opacity: .6;
    }

    .gallery-icon {
      a {
        display: block;
      }

      img {
        border: 0;
        height: auto;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
